h1 {
  color: gold;
  text-align: center;
}
header {
  background-color: rgb(12, 49, 158);
}
main {
  background-color: gray;
  padding: 40px;
}
nav {
  background-color: lightslategray;
  text-align: center;
}
button {
  margin: 20px;
}
p {
  margin: 0px;
}
footer {
  color: fuchsia;
  background-color: lightslategray;
}
#trophy {
  display:block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  width: 150px;
  height: 100;
}
#rankings {
  width: 400px;
  height: 300px;
}