h1 {
  color: gold;
  text-align: center;
}
img {
  align-content: center;
  border: 1px solid black;
}
header {
  background-color: rgb(12, 49, 158);
}
main {
  background-color: gray;
}
nav {
  background-color: lightslategray;
  text-align: center;
}
button {
  margin: 20px;
}
p {
  margin: 0px;
}
